body {
	text-align: center;
}

.logo {
   margin: 1em auto;
}
.intro-text {
   font-size: 30px;
   font-family: 'Roboto', sans-serif;
   font-weight: normal;
}

.usage-text {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 2em;
    font-weight: normal;
}
