.upload-input {
    display: none;
}
.top-text {
    font-weight: bold;
}

.heartrateData {
    color: dodgerblue;
    font-size: 5em;
}
.pulse-view {
    border-color: dodgerblue;
    border-style: solid;
    max-width:250px;
    margin:0 auto;
    border-width: 0.5em;
}
.pulse {
    width: 100%;
    margin: 1em auto;

}
.progress-circle {
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.camara-button {
    margin: 1em auto 1.5em auto;
}

#sign-out-button {
    margin-left: 1em;
}

#copy-button {
    margin: 1em auto 1.5em auto;
}
.uid {
    margin-top: 1em;
}
#user-uid {
    font-weight: bold;
    margin-left: 0.5em;
}

.welcome-text {
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .pulse {
      width: 60% !important;
      margin: 1.5em auto 1em auto; 
    }

  }